<div class="p-grid">
    <div class="p-col-2">
      <!-- <img  src="assets/Logo/MenuLogo1.png" alt="MenuLogo" class="Logo"/> -->
    </div>
    <div class="p-col-8">
      <div class="p-grid">
        <div class="p-col-11">
          <app-menu-bar></app-menu-bar>    
        </div>
        <div class="p-col-1">
          <cart-icon></cart-icon>
        </div>
      </div>
    </div>
    <div class="p-col-2">
      <!-- leave here blank-->
    </div>
    <div class="p-col-2">
      <app-user-profile></app-user-profile>
    </div>
    <div class="p-col-8">
        <router-outlet></router-outlet>
    </div>
    <div class="p-col-2">
        <!-- leave here blank-->
    </div>
  </div>
  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->