<div class="p-grid">
    <div class="p-col-12">
        <div *ngIf="user === undefined; else showUserCard">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
                fill="#EEEEEE" animationDuration=".5s">
            </p-progressSpinner>
        </div>

        <ng-template #showUserCard>
            <p-card [header]="user.userName" [subheader]="user.email" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <div *ngIf="user.imagePath != null">
                        <img alt="Profile-Pic-Present" [src]="user.imagePath">
                    </div>
                </ng-template>
                <div *ngIf="user.cartAmount == null; else showCartInfo">
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
                        strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
                    </p-progressSpinner>
                </div>
                <ng-template #showCartInfo>
                    <div *ngIf="userRole == 'user'">
                        <div class="p-grid">
                            <div class="p-col-2"><img src="assets/UserInfoImage/wallet.png" pTooltip="Wallet amount"
                                    alt="wallet" width="25px;" height="30px" /></div>
                            <div class="p-col-3">{{user.cartAmount}}</div>
                            <div class="p-col-7"><img src="assets/UserInfoImage/rupee.png" alt="wallet" width="25px;"
                                    height="30px" /></div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-2"><img src="assets/UserInfoImage/loyalty.png" pTooltip="Loyalty points"
                                    alt="wallet" width="25px;" height="30px" /></div>
                            <div class="p-col-10">{{user.points}}</div>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </ng-template>
    </div>
</div>