<p-card header="Payment Info" subheader="Card Subheader" [style]="{'width': '100%'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/MenuIcons/onlinePayment.jpg">
    </ng-template>
    <!-- body -->
    <div class="p-grid">
        <div class="col-8">
            Welcome <b>{{UserProfile.nickname}}</b> how would you like to make the payment.
        </div>
        <div class="col-4">
            Your Total Bill is <b>{{TotalPrice}}</b> <img src="assets/UserInfoImage/rupee.png" alt="wallet" width="25px;" height="30px" style="padding: 10"/>
        </div>
    </div>
    <ng-template pTemplate="footer">
        
    </ng-template>
</p-card>
