<div *ngIf="displayInfo;else showNoData">
    <button pButton type="button" label="Back to Menu" class="p-button-outlined" (click)="BackToMenu(menuCacheItems.VendorDetails.id,menuCacheItems.VendorDetails.name)" 
    icon="pi pi-angle-left" iconPos="left"></button>
    <br/>
    <div id="cardcart">
        <p-card [header]="menuCacheItems.VendorDetails.name" [style]="{'width': '100%', 'margin-bottom': '2em'}">
            <ng-template pTemplate="header">
                <h2>Cart Items</h2>
            </ng-template>
            <div class="p-grid">
                
                <div class="p-col-6" id="div-container">
                    <div class="bottomright">
                        <button pButton type="button" label="Proceed to Payment" class="p-button-outlined" (click)="ProccedToPayment()"></button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>

<ng-template #showNoData>
    <div style="margin: 15%;">
        <h3 style="text-align: center;">No Items in cart</h3>
        <img src="assets/MenuDisplayImages/emptyCart.png" alt="NoCartItem"/>
    </div>
</ng-template>


