.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
#div-container{
    position: relative;
}
#cardcart{
  margin-top: 12px;
}
.cart-delete-icon{
  float: right;
  padding-right: 18px;
}

.cart-header-name{
  padding: 17px;
}