<div *ngIf="menuCacheItems;else showNoData">
    <button pButton type="button" label="Back to Menu" class="p-button-outlined" (click)="BackToMenu(menuCacheItems.VendorDetails.id,menuCacheItems.VendorDetails.name)" 
    icon="pi pi-angle-left" iconPos="left"></button>
    <br/>
    <div id="cardcart">
        <p-card [header]="menuCacheItems.VendorDetails.name" [style]="{'width': '100%', 'margin-bottom': '2em'}">
            <ng-template pTemplate="header">
                <h2>Cart Items</h2>
            </ng-template>

            <p-table [columns]="columns" [value]="menuCacheItems.Items">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [style]="{ 'display': col.display }">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" [style]="{ 'display': col.display }">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="grid">
                        <div class="p-col-4">
                            <span> Total Price to Pay is: {{totalPrice}}</span>
                        </div>
                        <div class="p-col-8">
                            <button pButton type="button" label="Proceed to Payment" class="p-button-outlined" (click)="ProccedToPayment()"></button>
                        </div>
                    </div>

                </ng-template>
            </p-table>

            
        </p-card>
    </div>
</div>

<ng-template #showNoData>
    <div style="margin: 15%;">
        <h3 style="text-align: center;">No Items in cart</h3>
        <img src="assets/MenuDisplayImages/emptyCart.png" alt="NoCartItem"/>
    </div>
</ng-template>


